/* Windows 95 Sandbox global styles */
/* Matthew Fritz - 2024 */
/* https://github.com/matthewfritz/win-95-sandbox */

:root {
   --color-black: rgb(0,0,0);
   --color-white: rgb(255, 255, 255);
}

.clearfix {
   clear: both;
}

.default-accelerator .text::first-letter,
.accelerator {
   text-decoration: underline;
}